@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
    color: #1e293b;
    background-color: #f8fafc;
}

body {
    @apply min-h-screen bg-slate-50 text-slate-800 font-sans antialiased;
}
}

.board-grid {
  background: radial-gradient(circle, #d4d4d8 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #ffffff;
}
